<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Thanx" %></title>
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%#= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  </head>

  <body>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
